body{
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

/* nav-menu bar start  */
#side-menu{
    height: 100%;
    width: 0%;
    transition: 1s;
    position: fixed;
    top:0;
    left:0;
    background-color:gray;
    overflow-x: hidden;
    padding-top: 100px;
    z-index: 1;
} 

#side-menu a{
    padding:9px 9px 9px 35px;
    font-size:18px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}


#side-menu a:hover{
    background-color: white;
    color:black;
}

#side-menu> #close-btn:hover{
    background-color: black;
    color: white;
}


#side-menu >#close-btn{
    font-size: 25px;
}

/* Nav menu-bar ended */



/* about section start */
#main{
    border: 3px solid gray;
    box-shadow: 1px 1px 2px 1px gray ;
    border-radius: 5px;
    width:65%;
    margin:auto;
    margin-top:150px;
    padding: 10px;
    margin-bottom: 100px;
    scroll-behavior: smooth;
    
}

#about-heading{
    text-align: center;
    width:80%;
    margin: auto;
    padding:5px;
    color:white;
}

.about{
    border: 0px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,auto);
    gap:5px;
    padding:5px;
}

.about>div{
    border: 0px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px white;

} 

.home-img-div{
    grid-area:1/1/6/2;
}
.home-img{
    width:100%;
    height: 100%;
}

#user-detail-name{
    grid-area: 1/2/2/4;
    padding:2%;
    padding-right: none;
}



#user-detail-intro{
    grid-area: 2/2/5/4;
    padding:2%;
    
}
 #user-detail-intro>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 10px;
    word-spacing: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    
    
}



#resume-section{
    grid-area: 5/2/6/4;
    padding:2%;
}

#resume-section>a{
    text-decoration: none;
    border: 1px solid gray;
    padding: 2px;
    color:white;
}

#resume-section>a:hover{
    background-color: gray;
    
}




/* About section ended */

/* Skill Section */

.skills,.projects{
   border: 0px solid gray;
   box-shadow: 1px 1px 2px 3px gray;
   width:90%;
   margin:auto;
   margin-top:20px;
   display: flex;
   flex-wrap: wrap;
   padding:8px;
   background-color: gray;
   justify-content: center;
}

.skills>div{
    padding:1%;
    border:0px double gray;
    box-shadow: 1px 1px 2px 2px white;
    margin:1%;
    background-color: white;
    border-radius: 5px;
}

.skills-card-name{
    text-align: center;
}

#skills-heading{
 text-align: center;
 margin-top:100px;
 
}

#skill-div{
    margin-bottom: 100px;
}



/*Skill section ended*/
/*Project section*/


#project-section-heading{
    text-align: center;
    margin-top:30px;
}

.projects{
    margin-bottom: 30px;
}

.project-card{
    
    margin:auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border :0px solid white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px white;
    padding:1%;
    height: 460px;

}
.project-card>img{
    height: 180px;
    width:300px;
    border-radius: 5px;
}

.link-btn-div{
    width:80%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.project-description{
    width:320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-title{
    margin-bottom: 0px;
}

.project-tech-stack{
    color:white;
}

#project-div{
    margin-bottom: 100px;
}

.mobile-view{
    width:100%;
}

/* Project section ended*/

/*Contact me section*/

#contact-section{

    margin-top:30px;
    background-color: grey;
    width:100%;
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:10px;
}

.contact>i{
    text-align: center;
}

/* .contact>div:nth-child(2){
    

}
.contact>div:nth-child(1){
    padding:1%;
    width:70%;

} */

.contact>div:nth-child(2)>form{
    display: flex;
    width:300px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    padding:1%;
    margin:auto;
    
}

.contact>div:nth-child(1)>h3{
  color:white
}

.calendar{
    background-color: white;
    width:83%;
    height: 300px;
    margin:auto;
    margin-top:50px;
    
}

#github-stats-section{
    width:85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    padding:1%;
}
#github-stats-section>img{
    margin:auto;
    margin-bottom: 5px;
}

#calander-img{
    width:100%;
    display: flex;
    justify-content: center;
}

#calander-img>img{
    width:92%;
    
    margin-top:100px;
}















 
