body{
    margin:0;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav-menu bar start  */
#side-menu{
    height: 100%;
    width: 0%;
    transition: 1s;
    position: fixed;
    top:0;
    left:0;
    background-color:gray;
    overflow-x: hidden;
    padding-top: 100px;
    z-index: 1;
} 

#side-menu a{
    padding:9px 9px 9px 35px;
    font-size:18px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}


#side-menu a:hover{
    background-color: white;
    color:black;
}

#side-menu> #close-btn:hover{
    background-color: black;
    color: white;
}


#side-menu >#close-btn{
    font-size: 25px;
}

/* Nav menu-bar ended */



/* about section start */
#main{
    border: 3px solid gray;
    box-shadow: 1px 1px 2px 1px gray ;
    border-radius: 5px;
    width:65%;
    margin:auto;
    margin-top:100px;
    padding: 5px;
}

#heading-about-me{
    text-align: center;
    width:80%;
    margin: auto;
    padding:5px;
    color:white;
}

.about{
    border: 0px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,80px);
    gap:5px;
    padding:5px;
}

.about>div{
    border: 0px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px white;

}

.home-img-div{
    grid-area:1/1/6/2;
}
.home-img{
    width:100%;
    height: 100%;
}

#user-detail-name{
    grid-area: 1/2/2/4;
    padding:2%;
    padding-right: none;
}



#user-detail-intro{
    grid-area: 2/2/5/4;
    padding:2%;
}

#resume-section{
    grid-area: 5/2/6/4;
    padding:2%;
}

#resume-section>a{
    text-decoration: none;
    border: 1px solid gray;
    padding: 2px;
    color:white;
}

#resume-section>a:hover{
    background-color: gray;
    
}




/* About section ended */

/* Skill Section */

.skills{
   border: 1px solid gray;
   box-shadow: 1px 1px 2px 2px gray;
   width:80%;
   margin:auto;
   margin-top:20px;
   display: flex;
   flex-wrap: wrap;
   padding:1%;
   background-color: gray;
   justify-content: center;
}

.skills>div{
    padding:1%;
    border:1px double gray;
    margin:1%;
    background-color: white;
    border-radius: 5px;
}

.skills-card-name{
    text-align: center;
}


















 
