@media all and (min-width:300px) and (max-width:480px)
{

   
    /* nav-menu bar start  */
    #nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height:30px;
        width:90%;
        padding:20px;
       
        margin:auto;

       
    }
    #nav-menu>div{
        width: 40%;
    }
    #home{
        display: none;
    }
    #skill{
        display: none;
    }

    #projects{
        display: none;
    }

    #about-nav{
        display: none;
    }

    #contact{
        display:none;
    }
   
    
  

    #option{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #resume{
        text-align: center;
        display: flex;
        justify-content: center;
      
    }

    #resume a{
        width:100%;
        font-size: 25px;
    }
    
   
    /* Nav menu-bar ended */
    

    /* About section started */
    #main{
        width:98%;
      
       margin-top:100px;
       height: auto;
    }
    .about{
        width: 100%;
      
    }
    .about>div{
        
    }
    #heading-about-me{
        width:45%;
    }

    .home-img-div{
        grid-area:2/1/5/2;
    }

    #user-detail-name{
        grid-area: 1/1/2/4;
    }

    #resume-section{
        grid-area: 5/1/6/4;
      
    }

    #user-detail-intro{
        grid-area: 2/2/5/4;
        padding: 5px;
        
    }

    #heading-about-me{
        width:80%;
    }

    /* About section ended */

    .contact>div:nth-child(1){
        margin-right: 90px;
    }
    
}
