@media all and (min-width:200px) and (max-width:500px)
{
   
   
   
    /* nav-menu bar start  */
    #nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height:30px;
        width:100%;
        padding:10px;
       
        margin:auto;

       
    }

    
    #nav-menu>div{
        width: 45%;
    }

    .projects,.skills{
        width:100%;
        margin:auto;
        
    }

    #nav-menu>div>a{
        width:80%;
        border-radius: 5px;
    }
    #home{
        display: none;
    }
    #skill{
        display: none;
    }

    #projects{
        display: none;
    }

    #about-nav{
        display: none;
    }

    #contact{
        display:none;
    }
   
    
  

    #option{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #resume{
        text-align: center;
        display: flex;
        justify-content: center;
      
    }

    #resume a{
        width:100%;
        font-size: 25px;
    }
    
   
    /* Nav menu-bar ended */
    

    /* About section started */
    #main{
        width:100%;
        margin: auto;
        box-shadow: none;
        margin-top: 100px;
        padding:5px;
        border: none;
        height: 720px;
        margin-bottom:40px;
        
        
    
        
    }
    .about>div{
        width:100%;
        border: none;
        border-radius: none;
        box-shadow: none;
    
    } 
     
    .about{
        width: 100%;
        margin:auto;
        display:block;
        height: 500px;
        border:none;
      
    }
    
    #heading-about-me{
        width:45%;
    }

    .home-img-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height:70%;
    }
    .home-img-div>img{
        width:98%;
        height: 98%;
    }

    #user-detail-name{
    
    }

    #resume-section{
        
      
    }

    #user-detail-intro{
        
        padding: 5px;
        
    }

    #heading-about-me{
        width:80%;
    } 

   

    /* About section ended */

    

    /* .contact>div:nth-child(1){
        margin-right: 90px;
    } */

    .github-stats{
        width:98%;
        margin:auto;
        margin-top:20px;
    }

    #contact-section{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .contact>div:nth-child(1){
        width:300px;
        margin:auto;
        margin-bottom: 10px;
    }
    
}
